Let's import necessary packages first

In [11]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

Next, I use the requests package to fetch the webpage listing the Canadian Postal Code table, and store it in a variable called r_html

Then, using the Beautiful Soup package, I search for all row elements on the page and store results in a list (called rows)
I eliminate the first element of the list (since it contains the table headers, and not the data).

Finally, I keep only the first 289 elements, which identify the main table on the page.

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
r = requests.get(url)
r_html = r.text

soup = BeautifulSoup(r_html,'html.parser')
rows=soup.find_all("tr")

rows.pop(0)
rows=rows[0:289]

Out of each row, I split its elements (Postcode,Borough,Neighborhood) into separate columns, which I store as columns 1,2,3

In [15]:
column1=[rows[i].text.replace("\n",",").split(",")[1:-1][0] for i in range(len(rows))]
column2=[rows[i].text.replace("\n",",").split(",")[1:-1][1] for i in range(len(rows))]
column3=[rows[i].text.replace("\n",",").split(",")[1:-1][2] for i in range(len(rows))]

I create a dictionary with table headers and columns, and then i convert it as a pandas dataframe.

Then i call head and shape to verify results

In [31]:
df_dict={"Postcode":column1,
         "Borough":column2,
         "Neighborhood":column3
         }

df=pd.DataFrame(df_dict)

df.shape
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

I filter the dataframe to exclude not assigned Boroughs and reset index; calling shape to verify.

In [32]:
df=df[df["Borough"]!="Not assigned"]
df=df.reset_index(drop=True)

df.shape
df.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Consolidating Neighborhoods belonging to the same code, and dropping duplicated columns to consolidate results

In [33]:
for i in range(len(df)-1):
    if df.loc[i].Postcode==df.loc[i+1].Postcode:
        df.loc[i].Neighborhood=df.loc[i].Neighborhood+", "+df.loc[i+1].Neighborhood
        df.drop([i+1])
        
df=df.drop_duplicates(subset=["Postcode"])
df=df.reset_index(drop=True)
        
df.shape
df.head()

  Postcode           Borough                      Neighborhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Not assigned

Filling in the Borough field for Neighborhood with "Not Assigned" as value; shape and head to verify results

In [35]:
for i in range(len(df)-1):
    if df.loc[i].Neighborhood=="Not assigned":
        df.loc[i].Neighborhood=df.loc[i].Borough

df.shape
df.head()

  Postcode           Borough                      Neighborhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park